@{
    ViewBag.Title = "Contact";
}


<div class="container-wrapper" id="product-index" style="min-height:513px">

    <div class="container">        
        <h3>@ViewBag.Message</h3>
        <p><a href="mailto:transform-enterprise@hcl.com">transform-enterprise@hcl.com</a></p>
    </div>
</div>